<h2><%= @recipe.name %></h2>

<div class="page-content full-recipe">

  <section class="ingredients">
    <div class="thumbnail"><img src="<%= @recipe.img_path %>" alt="<%= @recipe.name %>" title="<%= @recipe.name %>"></div>
    <h3>Ingredients</h3>
    <ul class="ingredient-list">
      <% @recipe.ingredients.each do |ingredient| %>
        <li class="ingredient"><b><%= ingredient.name %></b> - <%= ingredient.brand %></li>
      <% end %>
    </ul>
  </section>

  <section class="add-to-schedule">
    <%= form_tag("/users/#{current_user.id}/recipe/#{@recipe.id}", method: 'post') do %>
      <%= select_tag(:day, options_for_select([['Monday', 'monday'], ['Tuesday', 'tuesday'], ['Wednesday', 'wednesday'], ['Thursday', 'thursday'], ['Friday', 'friday']])) %>
      <%= submit_tag("Add") %>
    <% end %>
  </section>

  <section class="instructions">
    <h3>Instructions: </h3>
    <p><%= @recipe.directions %></p>
  </section>

  <section class="nutrition-info">
    <h3>Nutrition Information</h3>
      <ul>
  <% @nutrition_info.each do |value| %> 
    <li><b><%= value[0] %></b>: <%= value[1] %></li>
  <% end %>
</ul>
  </section>
</div>
