<h2 class="page-title"><%= @recipe.name %></h2>

<div class="page-content full-recipe">

  <section class="ingredients">
    <div class="thumbnail"><img src="<%= @recipe.img_path %>" alt="<%= @recipe.name %>" title="<%= @recipe.name %>"></div>
    <h3>Ingredients</h3>
    <ul class="ingredient-list">
      <% @ingredients.each do |ingredient| %>
        <li class="ingredient"><%= ingredient.name %></b></li>
      <% end %>
    </ul>
  </section>
  <% if user_signed_in? %>
  <section class="add-to-schedule">
    <%= form_tag("/users/#{current_user.id}/scheduled_recipes/#{@recipe.id}", method: 'post') do %>
      <%= select_tag(:day, options_for_select([['Monday', 'monday'], ['Tuesday', 'tuesday'], ['Wednesday', 'wednesday'], ['Thursday', 'thursday'], ['Friday', 'friday']])) %>
      <%= submit_tag("Add") %>
    <% end %>
  </section>

  <section class="add-to-grocery-list">
    <%= link_to("Add to Grocery List", user_grocerylists_path(current_user.id,  recipe_id: @recipe.id), method: 'post') %>
  </section>
  <% end %>

  <section class="instructions">
    <h3>Prep Instructions: </h3>
    <p>Find the full instructions for <a href="<%= @recipe.directions %>"><%= @recipe.name %> at <%= @instructions_domain %></a></p>
  </section>

  <% if @nutrition_info %>
    <section class="nutrition-info">
      <aside class="ingredients-w-o-nutifo"></aside>
      <h3>Nutrition Information</h3>
      <!-- 4 will be replaced with recipe.num_servings -->
      <p><b>Servings</b>: 4 </p>
      <h4>Per Serving:</h4>
      <ul>
       <% @nutrition_info.each do |key, val| %>
        <li><b><%= key.capitalize %></b>: <%= val %></li>
       <% end %>
     </ul>
   <% end %>
 
     
  </section>
</div>
