<h2><%= @recipe.name %></h2>

<div class="page-content full-recipe">

  <section class="ingredients">
    <div class="thumbnail"><img src="<%= @recipe.img_path %>" alt="<%= @recipe.name %>" title="<%= @recipe.name %>"></div>
    <h3>Ingredients</h3>
    <ul class="ingredient-list">
      <% @recipe.ingredients.each do |ingredient| %>
        <li class="ingredient"><b><%= ingredient.name %></b> - <%= ingredient.brand %></li>
      <% end %>
    </ul>

  </section>

  <%= form_tag do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>

  <section class="instructions">
    <h3>Instructions: </h3>
    <p><%= @recipe.directions %></p>
  </section>

  <section class="nutrition-info">
    <h3>Nutrition Information</h3>
    <p>Nutrition Info here</p>
  </section>
</div>
