<h2><%= @recipe.name %></h2>

<div class="page-content full-recipe">

  <section class="ingredients">
    <div class="thumbnail"><img src="<%= @recipe.img_path %>" alt="<%= @recipe.name %>" title="<%= @recipe.name %>"></div>
    <h3>Ingredients</h3>
    <ul class="ingredient-list">
      <% @ingredients_qty_units.each do |ingredient, values| %>
        <li class="ingredient"><i><%= values[:qty] %> <%= values[:unit] %></i> - <b><%= ingredient.name.downcase %></b></li>
      <% end %>
    </ul>
  </section>
  <% if user_signed_in? %>
  <section class="add-to-schedule">
    <%= form_tag("/users/#{current_user.id}/scheduled_recipes/#{@recipe.id}", method: 'post') do %>
      <%= select_tag(:day, options_for_select([['Monday', 'monday'], ['Tuesday', 'tuesday'], ['Wednesday', 'wednesday'], ['Thursday', 'thursday'], ['Friday', 'friday']])) %>
      <%= submit_tag("Add") %>
    <% end %>
  </section>

  <section class="add-to-grocery-list">
    <%= link_to("Add to Grocery List", user_grocerylists_path(current_user.id,  recipe_id: @recipe.id), method: 'post') %>
  </section>
  <% end %>

  <section class="instructions">
    <h3>Instructions: </h3>
    <p><%= @recipe.directions %></p>
  </section>

  <section class="nutrition-info">
    <aside class="ingredients-w-nutifo"><%= @unloaded_ingredients %></aside>
    <h3>Nutrition Information</h3>
      <ul>
    <% @nutrition_info.each do |key, value| %>
      <li><ul>
        <% value.each do |k, v| %>
          <li><%= k %>: <%= v %></li>
        <% end %>
      </ul></li>
    <% end %>
  </section>
</div>
