<!-- logged out recipe search -->
<h2>Search Recipes</h2>
<div class="page-content logged-out">
  
  <section class="search-form">
    <%= form_tag recipes_path, class: "form", role: "form", method: 'get' do %>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], class: "form-control" %>
    </div>
    <div class="form-group">
      <%= radio_button_tag(:search_type, "ingredient") %>
      <%= label_tag(:search_type, "Find by Ingredient") %>
    </div>
    <div class="form-group">
      <%= radio_button_tag(:search_type, "recipe_name") %>
      <%= label_tag(:search_type, "Find by Recipe Name") %>
    </div>
    <div class="form-group">
      <%= button_tag "Search Recipes", type: "submit", class: "btn btn-default" %>
    </div>
  <% end %>
  </section><!-- .search-form -->

  <section class="search-results">
    <% if user_signed_in? %><div class="logged-in"><% end %>
        <%= render partial: "application/recipe_list", locals: {recipes: @recipes} %>
    <% if user_signed_in? %></div><% end %>
  </section><!-- .search-results -->
</div><!-- .page-content -->