<li class="first"><%= link_to "Search All Recipes", "#", :id => "search-all-recipes" %></li>
<li><%= link_to "My Recipes", user_recipes_path(current_user),  :id => "my-recipes" %></li>
<li><%= link_to "My Grocery List", "#", :id => "my-grocery-list" %></li>
<li><%= link_to "My Week", "#", :id => "my-week" %></li>
<li><%= link_to "My Account", edit_user_registration_path, :id => "my-account", :class => "navbar-link" %> </li>
<li class="last"><%= link_to "Logout", destroy_user_session_path, method: :delete, :id => "logout", :class => "navbar-link"  %></li>