<ul class="recipes grid-list">
  <% recipes.each do |recipe| %>
    <li class="item">
      <article class="recipe thumbnail">
        <div class="img overlays">
           <% if user_signed_in? %>
            <% if current_user.recipes.exists?(recipe.id) %>
              <span class="add-opt">added</span>
            <% else %>
              <span class="add-opt">
                <form id="sign-up" method="post" action="/users/<%=current_user.id%>/collected_recipes?recipe=<%=recipe.id%>"> 
                  <input type="submit" value="Add">
                </form> 
              </span>
            <%end%>
            <span class="fav-opt"></span>
          <% end %>
          <p class="img-thumbnail"><img src="<%= recipe.img_path %>" alt="<%= recipe.name %>" title="<%= recipe.name %>"></p>
        </div>
        <header>
          <h3><%= link_to "#{recipe.name}", recipe_path(recipe) %></h3>
        </header>
      </article>
    </li>
  <% end %>
</ul>