<ul class="grid-list logged-in">
  <% if @recipes.empty? %>
    <div class="well warning"><p>No Results Found</p></div>
  <% else %>
    <% @recipes.each do |recipe| %>
      <li class="item">
        <article class="recipe thumbnail">
          <h3><%= link_to "#{recipe.name}", recipe_path(recipe) %></h3>
          <div class="img overlays">
            <% if user_signed_in? %>
              <% if current_user.recipes.exists?(recipe) %>
                <form id="remove-recipe" method="destroy" action="<%= user_collected_recipe_path(current_user, recipe) %>">
                  <input type="hidden" id="remove-recipe-user-id"  name="collector_id" value="<%= current_user.id %>">
                   <input type="hidden" id="remove-recipe-recipe-id" name="recipe_id" value="<%= recipe.id %>">
                  <button id="remove" type="submit">
                    <span class="left glyphicon glyphicon-ok"></span>
                  </button>
                </form>
              <% else %>
                <form id="add-recipe" method="create" action="<%= user_collected_recipe_path(current_user, recipe) %>">
                  <input type="hidden" id="add-recipe-user-id"  name="collector_id" value="<%= current_user.id %>">
                  <input type="hidden" id="add-recipe-recipe-id" name="recipe_id" value="<%= recipe.id %>">
                  <button id="add" type="submit">
                    <span class="left glyphicon glyphicon-plus-sign"></span>
                  </button>
                </form>
              <% end %>
              <p class="img-thumbnail"><img src="<%= recipe.img_path %>" alt="<%= recipe.name %>" title="<%= recipe.name %>"></p>
            </div><!-- .image-overlays -->
            <div class="add-to-week container-fluid">
              <%= form_tag("/users/#{current_user.id}/scheduled_recipes/#{recipe.id}", class: "form inline-form", method: 'post') do %>
                <%= select_tag(:day, options_for_select([['Monday', 'monday'], ['Tuesday', 'tuesday'], ['Wednesday', 'wednesday'], ['Thursday', 'thursday'], ['Friday', 'friday'], ['Saturday', 'saturday'], ['Sunday', 'sunday']])) %>
                <%= submit_tag("Add to My Week", class: "btn btn-info") %>
              <% end %>
            </div><!--.add-to-week container-fluid-->
          <% end %><!-- if user_signed_in?-->
        </article>
      </li>
    <% end %>
  <% end %>
</ul>
