<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recipe App</title>

  <%= stylesheet_link_tag     "application","bootstrap-theme","bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag  "jquery","application","bootstrap","data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  <%= link_to 'Search All Recipes', '#', :id => 'search-all-recipes', :class => 'navbar-link' %> 
  <%= link_to 'My Recipes', '#',  :id => 'my-recipes', :class => 'navbar-link' %> 
  <%= link_to 'My Grocery List', '#', :id => 'my-grocery-list', :class => 'navbar-link' %> 
  <%= link_to 'My Week', '#', :id => 'my-week', :id => "my-profile", :class => 'navbar-link' %> 
  <%= link_to 'My Account', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<div class="devise notices">
<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>
</div>

<div class="container-fluid">
  
  <div class="site-header-wrapper row">
    
    <nav role="primary" class="util-nav">
      <div class="login-signup navbar-text pull-right">
        <% if user_signed_in? %>
          <%= link_to "My Account", edit_user_registration_path, :class => "navbar-link" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar-link"  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => "navbar-link"  %>
          <%= link_to "Login", new_user_session_path, :class => "navbar-link"  %>
        <% end %>
      </div><!-- .navbar-text .pull-right .login-signup-->
      <ul class="site-nav"><!-- page nav goes here as ul --></ul>
    </nav><!-- .util-nav -->

    <header class="brand">
      <h1><a href="/">Recipe App</a></h1>
    </header>
    
  </div><!-- .site-header-wrapper .row -->

  <div class="content-wrapper row">
    <section class="content">
      <%= yield %>
    </section>
  </div><!-- .content-wrapper .row -->
  
  <div class="footer-wrapper row">
    <footer class="footer">
      <p>Copyright &copy;<%= Time.now.year %></p>
    </footer>
  </div><!-- .footer-wrapper .row-->

</div><!-- .container-fluid -->


</body>
</html>
