<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recipe App</title>

  <%= stylesheet_link_tag     "application","bootstrap-theme","bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag  "jquery","application","bootstrap","data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "_site_header" %>
<%= render partial: "_devise_login_helpers" %>

<div class="container-fluid">
  <section class="content">
    <%= yield %>
  </section>
</div>
<%= render partial: "layouts/_footer" %>

</body>
</html>
