<!DOCTYPE html>
<html>
<head>
  <title>Recipe App</title>

  <%= stylesheet_link_tag     "application.css","bootstrap-theme","bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag  "jquery","application","bootstrap","data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/devise_login_helpers" %>

<div class="container-fluid">
  <section class="content">
    <%= yield %>
  </section>
</div>
<%= render "layouts/footer" %>

</body>
</html>
