<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="An app to make shopping for healthy ingredients easier.">
  <meta name="author" content="Built by Diana Calvache, Dustin Fox, Cristin O'Connor and Tara Roys at Dev Bootcamp Chicago">
  <title>RecipEase/GrocerEase</title>
  <%= stylesheet_link_tag     "reset","application","bootstrap-theme","bootstrap", media: "all", "data-turbolinks-track" => true %>
  <script src="http://platform.fatsecret.com/js?key=XXXXX&auto_load=true"></script>
  <%= javascript_include_tag  "jquery","application","bootstrap","data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="site-wrapper">
  <div class="container-fluid">
    <div class="site-header-wrapper row">
      <nav class="site-nav" role="primary">
        <% if user_signed_in? %>
          <div class="login-signup navbar-text pull-right">
            <ul class="nav nav-pills">
              <%= render "logged_in_navbar" %>
            </ul>
          </div>
        <% else %>
          <ul class="nav nav-pills">
            <%= render "logged_out_navbar" %>
          </ul>
        <% end %>
      </nav><!-- .site-nav -->
      <div class="devise notices">
        <% if notice %>
          <p class="alert alert-notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-error"><%= alert %></p>
        <% end %>
      </div>

    </div><!-- .site-header-wrapper .row -->

    <div class="content-wrapper row">
      <section class="content" role="main">
        <%= yield %>
      </section>
    </div><!-- .content-wrapper .row -->
    
    <div class="footer-wrapper row">
     <%= render "footer" %>
    </div><!-- .footer-wrapper .row-->

  </div><!-- .container-fluid -->
</div><!-- .site-wrapper-->
</body>
</html>
